.main-cart-div {
  display: flex;
  margin-top: 90px;
  flex-direction: row;
  justify-content: space-around;
}
.parent-cart {
  width: 60%;
}
.cart {
  background-color: var(--white-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
.up-cart {
  width: 100%;
  border-bottom: 1px solid var(--medium-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
}
.up-cart h1 {
  font-size: 1.3rem;
  margin: 1rem;
  color: var(--gray-color);
  font-weight: 600;
}
.pincode {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 40%;
  border: 1px solid var(--medium-gray);
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}
.pincode h2 {
  color: var(--gray-color);
  font-size: 1rem;
  font-weight: 600;
}

/* -----middle cart-------- */

.middle-cart {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.empty-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.empty-cart img {
  width: 250px;
  height: auto;
  display: block;
  background-color: aqua;
}
.empty-cart h1 {
  font-size: 1rem;
  font-weight: 500;
}
.empty-cart p {
  font-size: 12px;
  margin: 1px;
}
.empty-cart-btn {
  width: 11rem;
  height: 2rem;
  color: var(--white-color);
  background-color: var(--Primary-color);
  border-style: none;
  margin: 2px;
}

/* ---------whishlist----------- */
/* ---------whishlist----------- */

.cart-wishlist {
  margin-top: 2.5rem;
}

.wishlist {
  width: 100%;
  min-height: 300px;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  border-bottom: 0.1px solid var(--light-gray);
}

.img-and-btn {
  display: flex;
  flex-direction: column;
}

.img-cart img {
  margin: 25px 50px;
  width: 125px;
}

.quantity-bin {
  display: flex;
  justify-content: center;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  font-size: 20px;
  margin: 0px 12px;
  border: 1px solid var(--light-gray);
  border-radius: 50%;
  padding: 5px;
}

.quantity {
  border: 1px solid var(--light-gray);
  width: 30px;
  border-radius: 0;
  padding: 5px;
}

.wishlist-text {
  margin: 2px;
}
.wishlist-text h1 {
  font-weight: 540;
  font-size: 1.1rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.wishlist-text p {
  margin-top: 2px;
  font-size: 0.9rem;
  font-weight: 530;
}

.wishlist-text h2 {
  margin-top: 30px;
  font-size: 1rem;
}
.wishlist-text h4 {
  font-weight: 500;
  font-size: 14px;
  color: var(--green-color);
}

.phone-price2 p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 550;
  display: inline;
}
.phone-price2 li {
  display: inline;
  margin: 0;
  padding: 8px;
  color: black;
}
.phone-price2 {
  margin-top: 25px;
}
.cart-button h1 {
  cursor: pointer;
  margin-top: 50px;
  display: inline;
  font-size: 1rem;
  font-weight: 600;
}
.cart-button {
  margin-top: 30px;
}
.cart-button .remove {
  margin-left: 60px;
}

.wishlist-plc {
  margin-top: 20px;
}
.wishlist-plc p {
  font-size: 15px;
  font-weight: 100;
}
.wishlist-plc h3 {
  padding: 20px 0;
  font-weight: 100;
  font-size: 15px;
}
.order-place {
  position: sticky;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--white-color);
  height: 5rem;
  border: 1px groove var(--light-gray);
}
.order-place button {
  width: 180px;
  height: 50px;
  margin-right: 20px;
  color: white;
  font-size: 20px;
  background-color: var(--orange-medium);
  border: none;
  padding: 2px;
  cursor: pointer;
}

/* -------------price section------------ */
/* -------------price section------------ */
.price-section {
  padding: 2px;
  width: 30%;
  height: 320px;
  background-color: var(--white-color);
}
.price-section-1000{
  display: none;
}
.price-detail h3 {
  padding: 15px;
  border-bottom: 1px solid var(--light-gray);
}
.details div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
}

.details .total-amount {
  font-size: 1.6rem;
  text-transform: capitalize;
  font-weight: bold;
  border-bottom: 2px dotted var(--light-gray);
  border-top: 2px dotted var(--light-gray);
}

@media screen and (max-width:980px) {
  .main-cart-div{
    margin-top: 75px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .parent-cart{
    width: 90%;
  }
  .price-section{
    display: none;
  }
  .price-section-1000{
    display: block;
    width: 100%;
    margin-top: 2rem;
  }

}